<button class="menu__icon" data-js="button-menu">
    <div class="menu__icon">
        <div class="menu__icon--bar"></div>
        <div class="menu__icon--bar"></div>
        <div class="menu__icon--bar"></div>
    </div>
</button>
<article class="hamburger-menu" data-js="hamburger-menu">
    <div class="menu__line--top"></div>
    <a href="/profile/edit">Profile</a>
    <form action="/signatures/delete" METHOD="POST">
        <button type="submit">Delete your signature</button>
    </form>
    <a href="/">Petition</a>
    <a href="/user/logout">Logout</a>
</article>