<section class="container--access">
    <img
        class="img--access"
        src="/images/etienne-girardet-Xh6BpT-1tXo-unsplash.jpg"
        alt="Swimming pool in the summer"
    />

    <div class="container--right">
        {{#if error}}
            <p class="validation">Incorrect username or password</p>
        {{/if}}
        <h2>Login</h2>
        <p>Don't have an account yet?
            <a href="/register"> Create your account.</a></p>
        <form class="access-form" action="/login" method="POST">

            <div class="form__input">
                <label for="email">E-mail</label>
                <input
                    name="email"
                    type="email"
                    required
                    placeholder="lovely@unicorns.com"
                />
            </div>
            <div class="form__input">
                <label for="password">Password</label>
                <input
                    name="password"
                    type="password"
                    required
                    placeholder="****"
                />
            </div>

            <button class="button--default" type="submit">Log in</button>

        </form>
    </div>
</section>