<div class="main-container">
    <h1 class="main-title">Paid vacation for bootcamp students</h1>
    <img
        class="img--access"
        src="/images/etienne-girardet-Xh6BpT-1tXo-unsplash.jpg"
        alt="Swimming pool in the summer"
    />

    <div class="container--right">
        {{#if error}}
            <p class="validation">Please fill out all the fields!</p>
        {{/if}}

        <p>Because superhuman effort deserves a first-class reward, join our
            endeavors to send bootcamp students (and their dedicated teachers)
            on vacation, all expenses covered.
        </p>

        {{#if signatures}}
            <p><a href="/signatures">{{signatures}}
                    people
                </a>support this cause already, be next!</p>

        {{/if}}
        <form action="/petition" method="POST">
            <canvas class="canvas--petition"></canvas>
            <input type="hidden" name="signature" value="" />
            <button class="button--default" type="submit">Sign</button>
            <script src="/canvas.js"></script>
        </form>
    </div>
</div>