<div class="main-container">
    <h1 class="main-title">Paid vacation for bootcamp students</h1>
    <img
        class="img--access"
        src="/images/etienne-girardet-Xh6BpT-1tXo-unsplash.jpg"
        alt="Swimming pool in the summer"
    />
    <div class="container--right">
         {{> menu}}
    <h2>Thank you for signing the petition,
        {{foundUser.first_name}}
        {{foundUser.last_name}}!</h2>
        <img src="{{signature}}"></img>
    <a href="/signatures">Check who else supports this worthy cause</a>
  
 
    </div>
</div>