<div class="thank-you-page_container">
    <h1>Thank you for signing the petition,
        {{foundUser.first_name}}
        {{foundUser.last_name}}!</h1>
        <img src="{{signature}}"></img>

    <a href="/signatures">Check who else supports this worthy cause</a>
    <a href="/profile/edit">Update your profile here!</a>
    <form METHOD="POST">
        <button type="submit">Delete your signature</button>
    </form>
    <form action="/logout" METHOD="POST">
        <button type="submit">Logout</button>
    </form>
</div>