<div class="thank-you-page_container">
    <h1>Thank you for signing the petition,
        {{user.first_name}}
        {{user.last_name}}!</h1>
    <div class="beach"><img
            class="beach"
            src="../../images/beach.jpg"
            alt="Beach"
        /></div>
    <a href="/signatures">Check who else supports this worthy cause</a>
</div>