<h1>Cities project</h1>

<form action="/cities" method="POST">
    <input name="name" required placeholder="Write the name of the city" />
    <input name="population" required placeholder="Write its population" />
    <input name="country" required placeholder="Write the country" />
    <button type="submit">Submit</button>
</form>